html 
 include head.pug 
 body 
   if message 
      .message-container
         if message.success 
            p.message#success=message.success
         if errorMessage
            p.message#error=errorMessage
         if message.error
            p.message#error=message.error
   include nav.pug
   block content 
   include footer.pug
   block js