extends layout.pug

block content
    .form
        img(src="/static/images/memoryLogo.jpeg", alt="" crossorigin="anonymous").logo
        form(action="/login" method="POST").form-div
            input.text(type="email" placeholder="이메일" name="email" value= `${oldInput.email}`)
            input.text(type="password", placeholder="비밀번호" name="password" value= `${oldInput.bodypassword}`)
            input.login-btn(type="submit" value="Log In")

            
            .under-div 
                .row-line
                .row-content OR
                .row-line

            .linkDiv
                a(href="/join") 회원가입