extends layout.pug

block css
    

block content

    .user-container
        .user-center
            if user.file
                img(src=user.file).user-img
            else
                img(src="/static/images/user.png").user-img
                
            h1=user.name

            a(href="/me/update")
                button 수정하기