extends layout.pug

block css   
    link(rel="stylesheet", href="static/css/style.css")

block content
    each memory in memories
        a(href=`/memory/${memory.id}`) 
            img(src= memory.file, alt= memory.title).img
            h1 #{memory.title}
            h3 글쓴놈 : #{memory.creator.name} 

    a(href="/memory/upload") 생성하기
block js   
    script(src="static/js/hello.js") 