nav
    .container
        .nav
            a(href="/")
                img(src="/static/images/memory.png", alt="")
            if user
                ul 
                    li
                        a(href="/logout") 로그아웃 
                    li
                        a(href="/memory") memory
                    li
                        a(href="/me") 나의 프로필 
            else
                ul 
                    li 
                        a(href="/login") 로그인 