extends layout.pug

block content
    if errorMessage 
        div.user-message #{errorMessage}

    form(action="/new-password" method="POST")
        input.text(type="password", placeholder="비밀번호" name="password")
        button(type="submit") 비밀번호변경

    a(href="/join") 회원가입
    a(href="/passwordreset") 비밀번호 변경하기 


        
    