extends layout.pug

block content
    if errorMessage 
        div.user-message #{errorMessage}

    form(action="/login" method="POST")
        label(for="email") E-Mail 
        input.text(type="email" placeholder="이메일" name="email")
        button(type="submit") 비밀번호 변경하기



        
    