extends layout.pug

block content
    if errorMessage 
        div.user-message #{errorMessage}

    if user.file 
        img(src=`${user.file}`, alt="" crossorigin="anonymous")
    else 
        img(src='/static/img/user.png', alt="" crossorigin="anonymous")

    form(action="/profile/update" method="post" enctype="multipart/form-data")
        input(type="file", name="file")
        input.text(type="text",name="name",value=user.name )
        button(type="submit") 프로필변경

 
    script(src="/static/js/imgPreview.js") 
        
    