img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.user-message {
  margin: auto;
  width: 90%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid rgb(121, 0, 0);
  background-color: rgb(225, 126, 126);
  text-align: center;
}
