nav {
  width: 100%;
  border-bottom: 1px solid black;
}
nav .nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav img {
  width: 40px;
  height: 40px;
}
nav .nav ul {
  display: flex;
  gap: 10px;
}