mixin userBlock(user={})
    .creator
        a(href=`/user/${user._id}`)
            if user.file 
                img(src=`/${user.file}`, alt="")
            else 
                img(src="/static/images/user.png")
            h2 #{user.name}
