.home__head {
  display: flex;
  gap: 30px;
  margin: 20px 0;
  height: 50px;
}
.home__head .upload-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: inherit;
  background-color: blueviolet;
  color: white;
}
.home__head form {
  height: inherit;
}
.home__head form input {
  height: inherit;
  width: 100px;
  border-bottom: 1px solid black;
  font-size: 18px;
  width: 200px;
  padding: 0 10px;
  transition: all 0.2s ease-in-out;
}
.home__head form input:focus {
  border-bottom: 3px solid black;
}
.home__body {
  margin-top: 50px;
}
.home__body .memoryWrapper {
  display: flex;
  gap: 20px;
}